@charset "utf-8";
/* CSS Document */
body {
	background-color: #b0c4de;
	overflow: scroll;
	overflow-x: hidden;
	text-indent: 32px;
}
.name{
	height: 32px;
	width: 200px;
}
#tpbox{
	height: 250px;
	width: 1200px;
}
.tp1{
	margin-top: 32px;
	margin-left: 32px;
	float: left;
	width: 200px;
	height: 200px;
}
.tp2{
	margin-right: 80px;
	float: right;
	height: 250px;
	width: 550px;
}
#wenzi1{
	width: 1300px;
	height: 200px;
	line-height: 32px;
	margin-top: 40px;
	margin-left: 24px;
}

#wenzi1 a{
	text-decoration: none;
	color:#000000;
}
#wenzi1 a:hover{
	color: #C73F42;
}
#tpbox2{
	margin-top: 48px; 
	height: 530px;
	width: 1300px;
}
.wenzi2{
	width: 400px;
	height: 400px;
	float: left;
	margin-top: 17px;
	margin-left: 80px;
}
.wenzi2 a{
	text-decoration: none;
	color:#000000;
}
.wenzi2 a:hover{
	color: #C73F42;
}
#tpbox3{
	width: 100%;
	height: 400px;
}
.tp3{
	float: right;
	margin-top: 50px;
	margin-right: 150px;
}