@charset "utf-8";
/* CSS Document */
#logodh{
	margin-top: 20px;
	background-image:url();
	list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color:#b0c4de;
    width: 100%;
	height: 280px;
}
.logo{
	margin-top: 10px;
	margin-left: 40px;
	padding: 1px;
	
	float:left;
}
.name{
	font-family: 宋体;
	font-size: 25px;
	width: 300px;
	height: 50px;
	margin: 20px;
	margin-left: 40px;
	margin-top: 100px;
	text-indent: 10px;
	padding: 1px;
	float:left;
}
.logo1{
	padding: 10px;
}
.sj{
	margin-top: 10px;
	margin-right: 40px;
	line-height:32px;
	float: right;
}


#dh1{
	width: 100%;
	height: 200px;
		}
*{
	margin: 0;
	padding: 0;
		}
body{
	background-color: #b0c4de;
	background-size: cover;
	font-family: 宋体; 
		}
.box1{
	width: 100%;
	height: 50px;
	background: #1787CD;
	box-shadow: 0 -2px 2px #1787CD;
	margin-top: 40px;
		}
.box1 ul{
	list-style: none;
		}
.box1 ul li{
	float: left;
	width: 150px;
	background: #1787CD;
	margin-right: 1px;
	font-size: 14px;
	border-right: 1px solid #bbb;
		}
.box1 ul li:hover{
	color: #fff;
	background: rgba(238,82,83,1);
	animation: changeColor 2s infinite;
	animation-delay: 3s;
		}
@keyframes changeColor{
	0%{background: #1d84b5;}
	50%{background: #00cecb;}
	100%{background: #1d84b5;}
		}
.box1 ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	text-transform:uppercase;
		}
.box1 ul li ul li{
	display: none;
	width: 150px;
	height: 50px;
	float: initial;
	background: rgba(1,163,164,1);
	font-size: 10px;
	transition: 0.3s;
		}
.box1 ul li:hover ul li{
	display: block;
	border-top: 1px solid rgba(72,219,251,0.5)
		}

#box2{
	width: 1400px;
	height: 5500px;
	margin: auto;
	margin-top: 105px;
}

.wenzi1{
	margin-top: 55px;
	width: 100%;
	height: 550px;
	line-height: 32px;
	background-color: #f5f5f5;
	border-radius: 20px;
		}
#duanluo1 a{
	text-decoration: none;
}
#duanluo1 a:hover{
	color: #CB292C;
}
#duanluo1{
	width: 800px;
	height: 520px;
	margin-top: 20px;
	margin-right: 130px;
	text-indent: 32px;
	float: right;
	line-height: 32px;
		}
.duanluo1tp{
	width: 250px;
	height: 520px;
	margin-left: 80px;
	margin-top: 20px;
}
.tup1{
	width: 200px;
	height: 250px;
	margin: 4px;
	padding-left: 30px;
	padding-top: 140px;
		}
.tup1 p{
	text-align: center;
}

.wenzi2{
	width: 100%;
	height: 340px;
	line-height: 32px;
	background-color: #d0dafd;
	border-radius: 30px;
	margin-top: 20px;
		}
#duanluo2{
	width: 800px;
	height: 290px;
	margin-top: 80px;
	margin-left: 80px;
	text-indent: 32px;
	float: left;
		}
#duanluo2 a{
	text-decoration: none;
}
#duanluo2 a:hover{
	color: #CB292C;
}
.duanluo2tp{
	float: right;
	width: 220px;
	height: 270px;
	margin-right: 120px;
	margin-top: 20px;
}
.tup2{
	float: right;
	width: 200px;
	height: 200px;
	margin-top: 20px;
	margin-right: 0px;
		}
.tup2 p{
	text-align: center;
}

.wenzi3{
	width: 100%;
	height: 400px;
	line-height: 32px;
	background-color: #f5f5f5;
	border-radius: 20px;
	margin-top: 30px;
		}
#duanluo3{
	float: right;
	width: 800px;
	height: 290px;
	margin-top: 10px;
	margin-right: 120px;
	text-indent: 32px;
		}
#duanluo3 a{
	text-decoration: none;
}
#duanluo3 a:hover{
	color: #CB292C;
}
.duanluo3tp{
	float: left;
	width: 220px;
	height: 270px;
	margin-left: 120px;
}
.tup3{
	float: left;
	width: 200px;
	height: 280px;
	padding-top: 40px;
		}
.tup3 p{
	text-align: center;
}

.wenzi4{
	width: 100%;
	height: 520px;
	line-height: 32px;
	background-color: #d0dafd;
	border-radius: 20px;
	margin-top: 30px;
		}
#duanluo4{
	width: 800px;
	height: 500px;
	margin-top: 60px;
	margin-left: 80px;
	text-indent: 32px;
	float: left;
		}
#duanluo4 a{
	text-decoration: none;
}
#duanluo4 a:hover{
	color: #CB292C;
}
.duanluo4tp{
	float: right;
	width: 220px;
	height: 500px;
	margin-right: 120px;
	margin-top: 20px;
}
.tup4{
	float: right;
	width: 200px;
	height: 200px;
	padding-top: 100px;
	margin-right: 0px;
		}
.tup4 p{
	text-align: center;
}

.wenzi5{
	width: 100%;
	height: 600px;
	line-height: 32px;
	background-color: #f5f5f5;
	border-radius: 20px;
	margin-top: 30px;
		}
#duanluo5{
	float: right;
	width: 800px;
	height: 550px;
	margin-top: 10px;
	margin-right: 120px;
	text-indent: 32px;
		}
#duanluo5 a{
	text-decoration: none;
}
#duanluo5 a:hover{
	color: #CB292C;
}
.duanluo5tp{
	float: left;
	width: 220px;
	height: 300px;
	margin-left: 120px;
}
.tup5{
	float: left;
	width: 200px;
	height: 300px;
	padding-top: 100px;
		}
.tup5 p{
	text-align: center;
}

.wenzi6{
	width: 100%;
	height: 520px;
	line-height: 32px;
	background-color: #d0dafd;
	border-radius: 20px;
	margin-top: 30px;
		}
#duanluo6{
	width: 800px;
	height: 500px;
	margin-top: 10px;
	margin-left: 80px;
	text-indent: 32px;
	float: left;
		}
#duanluo6 a{
	text-decoration: none;
}
#duanluo6 a:hover{
	color: #CB292C;
}
.duanluo6tp{
	float: right;
	width: 220px;
	height: 500px;
	margin-right: 120px;
	margin-top: 10px;
}
.tup6{
	float: right;
	width: 200px;
	height: 200px;
	padding-top: 100px;
	margin-right: 0px;
		}
.tup6 p{
	text-align: center;
}

.wenzi7{
	width: 100%;
	height: 630px;
	line-height: 32px;
	background-color: #f5f5f5;
	border-radius: 20px;
	margin-top: 30px;
		}
#duanluo7{
	float: right;
	width: 800px;
	height: 550px;
	margin-top: 10px;
	margin-right: 120px;
	text-indent: 32px;
		}
#duanluo7 a{
	text-decoration: none;
}
#duanluo7 a:hover{
	color: #CB292C;
}
.duanluo7tp{
	float: left;
	width: 220px;
	height: 300px;
	margin-left: 120px;
}
.tup7{
	float: left;
	width: 200px;
	height: 300px;
	padding-top: 150px;
		}
.tup7 p{
	text-align: center;
}


.wenzi8{
	width: 100%;
	height: 450px;
	line-height: 32px;
	background-color: #d0dafd;
	border-radius: 20px;
	margin-top: 30px;
		}
#duanluo8{
	width: 800px;
	height: 450px;
	margin-top: 40px;
	margin-left: 80px;
	text-indent: 32px;
	float: left;
		}
#duanluo8 a{
	text-decoration: none;
}
#duanluo8 a:hover{
	color: #CB292C;
}
.duanluo8tp{
	float: right;
	width: 220px;
	height: 450px;
	margin-right: 120px;
	margin-top: 40px;
}
.tup8{
	float: right;
	width: 200px;
	height: 200px;
	padding-top: 60px;
	margin-right: 0px;
		}
.tup8 p{
	text-align: center;
}

.wenzi9{
	width: 100%;
	height: 700px;
	line-height: 32px;
	background-color: #f5f5f5;
	border-radius: 20px;
	margin-top: 30px;
		}
#duanluo9{
	float: right;
	width: 800px;
	height: 650px;
	margin-top: 10px;
	margin-right: 120px;
	text-indent: 32px;
		}
#duanluo9 a{
	text-decoration: none;
}
#duanluo9 a:hover{
	color: #CB292C;
}
.duanluo9tp{
	float: left;
	width: 220px;
	height: 650px;
	margin-left: 120px;
}
.tup9{
	float: left;
	width: 200px;
	height: 300px;
	padding-top: 20px;
		}
.tup9 p{
	text-align: center;
}
.tup10{
	float: left;
	width: 200px;
	height: 300px;
	padding-top: 20px;
		}
.tup10 p{
	text-align: center;
}


.wenzi10{
	width: 100%;
	height: 500px;
	line-height: 32px;
	background-color: #d0dafd;
	border-radius: 20px;
	margin-top: 30px;
		}
#duanluo10{
	width: 800px;
	height: 450px;
	margin-top: 40px;
	margin-left: 80px;
	text-indent: 32px;
	float: left;
		}
#duanluo10 a{
	text-decoration: none;
}
#duanluo10 a:hover{
	color: #CB292C;
}
.duanluo10tp{
	float: right;
	width: 220px;
	height: 450px;
	margin-right: 120px;
	margin-top: 40px;
}
.tup11{
	float: right;
	width: 200px;
	height: 200px;
	padding-top: 80px;
	margin-right: 0px;
		}
.tup11 p{
	text-align: center;
}


.wenzi11{
	width: 100%;
	height: 700px;
	line-height: 32px;
	background-color: #f5f5f5;
	border-radius: 20px;
	margin-top: 30px
		}
#duanluo11{
	float: right;
	width: 800px;
	height: 650px;
	margin-top: 50px;
	margin-right: 120px;
	text-indent: 32px;
		}
#duanluo11 a{
	text-decoration: none;
}
#duanluo11 a:hover{
	color: #CB292C;
}
.duanluo11tp{
	float: left;
	width: 220px;
	height: 650px;
	margin-left: 120px;
}
.tup12{
	float: left;
	width: 200px;
	height: 300px;
	padding-top: 50px;
		}
.tup12p{
	text-align: center;
}
.tup13{
	float: left;
	width: 200px;
	height: 300px;
	padding-top: 20px;
		}
.tup13 p{
	text-align: center;
}

.wenzi12{
	width: 100%;
	height: 350px;
	line-height: 32px;
	background-color: #d0dafd;
	border-radius: 20px;
	margin-top: 30px;
		}
#duanluo12{
	width: 800px;
	height: 200px;
	margin-top: 50px;
	margin-left: 80px;
	text-indent: 32px;
	float: left;
		}
#duanluo12 a{
	text-decoration: none;
}
#duanluo12 a:hover{
	color: #CB292C;
}
.duanluo12tp{
	float: right;
	width: 220px;
	height: 300px;
	margin-right: 120px;
	margin-top: 10px;
}
.tup14{
	float: right;
	width: 280px;
	height: 200px;
	padding-top: 0px;
	margin-right: 30px;
		}
.tup14 p{
	text-align: center;
}