@charset "utf-8";
/* CSS Document */
body {
	background-color:#b0c4de;
	overflow: scroll;
	overflow-x: hidden;
}
#box1{
	display: block;
	width: 100%;
	height: 300px;
}
.tup1{
	width: 80px;
	height: 50px;
}
.tup2{
	float: left;
	width: 150px;
	height:80px;
	padding-left: 70px;
	margin-top: 20px;
}
.tup3{
	margin-left: 300px;
}
.hx2{
	margin-top: 20px;
}
#box2{
	box-shadow: 0 -2px 2px #1787CD;
	background-color: #F5F5F5;
	width: 800px;
	height: 1650px;
	margin: auto;
}
.bt{
	text-indent: 38px;
	padding-top: 30px;
}
.sj{
	text-indent: 25px;
}
.tup4{
	padding-top: 50px;
	padding-left: 150px;
}
.name{
	text-align: center;
	padding-top: 5px;
}
.wenzi{
	text-indent: 32px;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 32px;
}
.tup6{
	padding-top: 25px;
	padding-left: 150px;
}
.name2{
	text-align: center;
	padding-top: 5px;
}
.wenzi2{
	text-indent: 32px;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 32px;
}
.hx{
	padding-top: 30px;
}
.tup5{
	padding-left: 70px;
	padding-top: 20px;
}

.dbdhl{
	float: right;
	margin-right: 60px;
	margin-top: 10px;
}