@charset "utf-8";
/* CSS Document */
body {
	background-color: #b0c4de;
	overflow: scroll;
	overflow-x: hidden;
	width: 100%
}
body p{
	font-size: 30px;
	margin-top: 25px;
	margin-left: 80px;
}
#name2{
	margin-left: 40px;
}
#bg{
	width: 100%;
	height: 800px;
}
#bg table{
	margin-left: 50px;
	width: 700px;
	height: 700px;
	background-color:#d0dafd;
}
#bg tr:hover{
	color:#C04143;
	background:#A9BCFD;
}
#bg tr a{
	text-decoration: none;
	color:#000000;
}
#bg tr a:hover{
	color: #D03335;
}
.bgys{
	
	float: left;
	text-align: center;
	margin-top: 30px;
	width: 700px;
	height: 700px;
}
.tup1{
	width: 400px;
	height: 700px;
	float: right;
	margin-top: 80px;
	margin-left: 40px;
	margin-right: 110px;
}